pkgbase = mpv-pure
	pkgdesc = a free, open source, and cross-platform media player
	pkgver = 0.41.0
	pkgrel = 1
	url = https://mpv.io/
	arch = x86_64
	license = GPL-2.0-or-later AND LGPL-2.1-or-later
	makedepends = ffnvcodec-headers
	makedepends = git
	makedepends = ladspa
	makedepends = meson
	makedepends = python-docutils
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = desktop-file-utils
	depends = ffmpeg
	depends = glibc
	depends = hicolor-icon-theme
	depends = lcms2
	depends = libarchive
	depends = libass
	depends = libdisplay-info
	depends = libdrm
	depends = libegl
	depends = libgl
	depends = libglvnd
	depends = libjpeg-turbo
	depends = libpipewire
	depends = libplacebo
	depends = libva
	depends = libxkbcommon
	depends = luajit
	depends = mesa
	depends = uchardet
	depends = vulkan-icd-loader
	depends = wayland
	depends = zimg
	depends = zlib
	optdepends = yt-dlp: for video-sharing websites playback
	provides = libmpv.so
	provides = mpv
	conflicts = libmpv.so
	conflicts = mpv
	options = !emptydirs
	source = mpv-pure-0.41.0::git+https://github.com/mpv-player/mpv.git#tag=v0.41.0
	sha256sums = 6d591780b86f20397697d8847e30b9bf864798b62615fa995395b7ce03a1e4f2

pkgname = mpv-pure
