pkgbase = mpv-pure
	pkgdesc = a free, open source, and cross-platform media player
	pkgver = 0.40.0
	pkgrel = 3
	url = https://mpv.io/
	arch = x86_64
	license = GPL-2.0-or-later AND LGPL-2.1-or-later
	makedepends = ffnvcodec-headers
	makedepends = git
	makedepends = ladspa
	makedepends = meson
	makedepends = python-docutils
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = desktop-file-utils
	depends = ffmpeg
	depends = glibc
	depends = hicolor-icon-theme
	depends = lcms2
	depends = libarchive
	depends = libass
	depends = libdisplay-info
	depends = libdrm
	depends = libegl
	depends = libgl
	depends = libglvnd
	depends = libjpeg-turbo
	depends = libpipewire
	depends = libplacebo
	depends = libva
	depends = libxkbcommon
	depends = luajit
	depends = mesa
	depends = uchardet
	depends = vulkan-icd-loader
	depends = wayland
	depends = zlib
	depends = zimg
	optdepends = yt-dlp: for video-sharing websites playback
	provides = libmpv.so
	provides = mpv
	conflicts = libmpv.so
	conflicts = mpv
	options = !emptydirs
	source = https://github.com/mpv-player/mpv/archive/v0.40.0/mpv-0.40.0.tar.gz
	source = dynamically_generate_desktop_file_protocols.patch
	sha256sums = 10a0f4654f62140a6dd4d380dcf0bbdbdcf6e697556863dc499c296182f081a3
	sha256sums = 88acf97cbc8e0fe745f09bd0bd7f65e0437adcb549dadf3588fd0724d01298e9

pkgname = mpv-pure
	depends = desktop-file-utils
	depends = ffmpeg
	depends = glibc
	depends = hicolor-icon-theme
	depends = lcms2
	depends = libarchive
	depends = libass
	depends = libdisplay-info
	depends = libdrm
	depends = libegl
	depends = libgl
	depends = libglvnd
	depends = libjpeg-turbo
	depends = libplacebo
	depends = libpipewire
	depends = libva
	depends = libxkbcommon
	depends = luajit
	depends = mesa
	depends = uchardet
	depends = vulkan-icd-loader
	depends = wayland
	depends = zimg
	depends = zlib
