*.pkg.tar.zst
*.tar.xz
*.log
**/FETCH_HEAD
wine-pure/wine
wine-pure/wine-staging
mpv-pure/mpv
dxvk-pure-git/mingw-directx-headers
dxvk-pure-git/Vulkan-Headers
dxvk-pure-git/SPIRV-Headers
dxvk-pure-git/dxvk
pacman/pacman