pkgbase = wine-staging-ntsync-pure
	pkgdesc = A compatibility layer for running Windows programs
	pkgver = 9.21.r212.g044527c671d
	pkgrel = 2
	url = https://www.winehq.org
	install = wine.install
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = autoconf
	makedepends = bison
	makedepends = perl
	makedepends = flex
	makedepends = mingw-w64-gcc
	makedepends = git
	makedepends = alsa-lib
	makedepends = gnutls
	makedepends = gst-plugins-base-libs
	makedepends = libpulse
	makedepends = libxcomposite
	makedepends = mesa
	makedepends = opencl-headers
	makedepends = opencl-icd-loader
	makedepends = sdl2
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = desktop-file-utils
	makedepends = fontconfig
	makedepends = freetype2
	makedepends = gcc-libs
	makedepends = gettext
	makedepends = libxcursor
	makedepends = libxkbcommon
	makedepends = libxi
	makedepends = libxrandr
	makedepends = wayland
	makedepends = ffmpeg
	depends = desktop-file-utils
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = gettext
	depends = libxcursor
	depends = libxkbcommon
	depends = libxi
	depends = libxrandr
	depends = wayland
	depends = ffmpeg
	optdepends = alsa-lib
	optdepends = alsa-plugins
	optdepends = gnutls
	optdepends = gst-plugins-bad
	optdepends = gst-plugins-base
	optdepends = gst-plugins-base-libs
	optdepends = gst-plugins-good
	optdepends = gst-plugins-ugly
	optdepends = libpulse
	optdepends = libxcomposite
	optdepends = opencl-icd-loader
	optdepends = sdl2
	optdepends = wine-gecko
	optdepends = wine-mono
	provides = wine-staging
	provides = wine
	provides = wine-wow64
	conflicts = wine
	options = staticlibs
	options = !lto
	source = wine-staging-ntsync-pure::git+https://gitlab.winehq.org/wine/wine.git
	source = git+https://gitlab.winehq.org/wine/wine-staging.git
	source = 30-win32-aliases.conf
	source = wine-binfmt.conf
	source = ntsync-v5-9.21-mainline.patch
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb
	sha512sums = bdde7ae015d8a98ba55e84b86dc05aca1d4f8de85be7e4bd6187054bfe4ac83b5a20538945b63fb073caab78022141e9545685e4e3698c97ff173cf30859e285
	sha512sums = 76cb5520bbc04d8a2a6d41b511339208077d39e6c053ae1aabca30b9eedcc794532878491d562541d5c8d4fc771a69db2d82b076ed6b66800822df07a3b41ac9

pkgname = wine-staging-ntsync-pure
