pkgbase = wine-staging-ntsync-pure
	pkgdesc = A compatibility layer for running Windows programs
	pkgver = 9.22.r0.g51ccd95c49c
	pkgrel = 4
	url = https://www.winehq.org
	install = wine.install
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = autoconf
	makedepends = bison
	makedepends = perl
	makedepends = flex
	makedepends = mingw-w64-gcc
	makedepends = git
	makedepends = alsa-lib
	makedepends = gnutls
	makedepends = gst-plugins-base-libs
	makedepends = libpulse
	makedepends = libxcomposite
	makedepends = mesa
	makedepends = opencl-headers
	makedepends = opencl-icd-loader
	makedepends = sdl2
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = desktop-file-utils
	makedepends = fontconfig
	makedepends = freetype2
	makedepends = gcc-libs
	makedepends = gettext
	makedepends = libxcursor
	makedepends = libxkbcommon
	makedepends = libxi
	makedepends = libxrandr
	makedepends = wayland
	makedepends = ffmpeg
	makedepends = unixodbc
	depends = desktop-file-utils
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = gettext
	depends = libxcursor
	depends = libxkbcommon
	depends = libxi
	depends = libxrandr
	depends = wayland
	depends = ffmpeg
	depends = unixodbc
	optdepends = alsa-lib
	optdepends = alsa-plugins
	optdepends = gnutls
	optdepends = gst-plugins-bad
	optdepends = gst-plugins-base
	optdepends = gst-plugins-base-libs
	optdepends = gst-plugins-good
	optdepends = gst-plugins-ugly
	optdepends = libpulse
	optdepends = libxcomposite
	optdepends = opencl-icd-loader
	optdepends = sdl2
	optdepends = wine-gecko
	optdepends = wine-mono
	provides = wine-staging
	provides = wine
	provides = wine-wow64
	conflicts = wine
	options = staticlibs
	options = !lto
	source = wine-staging-ntsync-pure::git+https://gitlab.winehq.org/wine/wine.git
	source = git+https://gitlab.winehq.org/wine/wine-staging.git
	source = 30-win32-aliases.conf
	source = wine-binfmt.conf
	source = ntsync-v5-9.22-mainline.patch
	source = wineserver-enable-link-time-optimization.patch
	source = explorer-prefer-wayland-over-x11-by-default.patch
	source = msvcrt_nativebuiltin.patch
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb
	sha512sums = bdde7ae015d8a98ba55e84b86dc05aca1d4f8de85be7e4bd6187054bfe4ac83b5a20538945b63fb073caab78022141e9545685e4e3698c97ff173cf30859e285
	sha512sums = 5064e7cb133bae1a7c3d177d63f3ea5a85207cfe8eea05f23ffed63ad9c3718344b11e32318c36901c163db1a4d1c8894773e213de2d6d77f1b91e7c169594fd
	sha512sums = f47afccd51f010a282cab07f343479fba6f14ed8c654c8ff7bbc5c808c0d15be967f35d555f496b5f9bc281aa34f78bb9fd2c93a6e1241682cf3ad201dfe88f3
	sha512sums = d32d06216d05bdcd6b00b26820f3ba141f58e7874bb51ed2958a7b0f4dd05da612ae0e8d792e7134fae92f2a6cc05f77077e1443a221cda242a836747a7e22ea
	sha512sums = 15f767f2fd7d019bb0e15ece646f1fd1db2e7fda1830c38a05d0fbe3dca580b43d568bcb6094362a57322e78cf4bf599199b0edb7b3c4557779d64bbc1a7b071

pkgname = wine-staging-ntsync-pure
