pkgbase = mesa-pure
	pkgdesc = A purely personal Mesa build
	pkgver = 25.2.6
	pkgrel = 1
	url = https://www.mesa3d.org/
	arch = x86_64
	license = MIT AND BSD-3-Clause AND SGI-B-2.0
	makedepends = cbindgen
	makedepends = clang
	makedepends = cmake
	makedepends = elfutils
	makedepends = glslang
	makedepends = libpng
	makedepends = libva
	makedepends = libxml2
	makedepends = libxrandr
	makedepends = lld
	makedepends = llvm
	makedepends = meson
	makedepends = ninja
	makedepends = python-mako
	makedepends = python-packaging
	makedepends = python-ply
	makedepends = python-pyaml
	makedepends = valgrind
	makedepends = wayland-protocols
	makedepends = xorgproto
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libelf
	depends = libglvnd
	depends = libunwind
	depends = libx11
	depends = libxcb
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxshmfence
	depends = libxxf86vm
	depends = lm_sensors
	depends = python
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-keysyms
	depends = zlib
	depends = zstd
	optdepends = opengl-man-pages: for the OpenGL API man pages
	provides = libva-mesa-driver
	provides = mesa
	provides = mesa-libgl
	provides = opencl-driver
	provides = opengl-driver
	provides = vulkan-driver
	provides = vulkan-mesa-device-select
	provides = vulkan-mesa-layers
	provides = vulkan-radeon
	conflicts = libva-mesa-driver
	conflicts = mesa
	conflicts = mesa-libgl
	conflicts = opencl-clover-mesa
	conflicts = vulkan-mesa-device-select
	conflicts = vulkan-mesa-layers
	conflicts = vulkan-radeon
	source = https://mesa.freedesktop.org/archive/mesa-25.2.6.tar.xz
	source = anti-lag.patch
	sha256sums = 361c97e8afa5fe20141c5362c5b489040751e12861c186a16c621a2fb182fc42
	sha256sums = 1e83a132618ebc2a2236779223ace94354f22b3372ce739ee6641e83f2d0f9e8

pkgname = mesa-pure
