pkgbase = mesa-pure
	pkgdesc = A purely personal Mesa build
	pkgver = 25.1.2
	pkgrel = 1
	url = https://www.mesa3d.org/
	arch = x86_64
	license = MIT AND BSD-3-Clause AND SGI-B-2.0
	makedepends = xorgproto
	makedepends = libxml2
	makedepends = libvdpau
	makedepends = libva
	makedepends = elfutils
	makedepends = libxrandr
	makedepends = meson
	makedepends = ninja
	makedepends = glslang
	makedepends = python-mako
	makedepends = python-ply
	makedepends = cbindgen
	makedepends = wayland-protocols
	makedepends = cmake
	makedepends = valgrind
	makedepends = libpng
	makedepends = python-packaging
	makedepends = python-pyaml
	depends = libdrm
	depends = libxxf86vm
	depends = libxdamage
	depends = libxshmfence
	depends = libelf
	depends = libunwind
	depends = libglvnd
	depends = wayland
	depends = lm_sensors
	depends = vulkan-icd-loader
	depends = zstd
	depends = expat
	depends = gcc-libs
	depends = libxfixes
	depends = libx11
	depends = systemd-libs
	depends = libxext
	depends = libxcb
	depends = glibc
	depends = zlib
	depends = python
	depends = xcb-util-keysyms
	optdepends = opengl-man-pages: for the OpenGL API man pages
	provides = vulkan-mesa-layers
	provides = opencl-driver
	provides = opengl-driver
	provides = vulkan-driver
	provides = vulkan-radeon
	provides = libva-mesa-driver
	provides = mesa-libgl
	provides = mesa
	conflicts = vulkan-mesa-layers
	conflicts = opencl-clover-mesa
	conflicts = vulkan-radeon
	conflicts = libva-mesa-driver
	conflicts = mesa-libgl
	conflicts = mesa
	source = https://mesa.freedesktop.org/archive/mesa-25.1.2.tar.xz
	sha256sums = c29c93fd35119b949a589463d1feb61b4000c0daad04e8d543d7f909f119bd97

pkgname = mesa-pure
