pkgbase = yukigram-desktop
	pkgdesc = Fork of 64Gram
	pkgver = 6.1.3
	pkgrel = 1
	url = https://github.com/yukigram/yukigram/
	arch = x86_64
	license = GPL3
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = libtg_owt
	makedepends = microsoft-gsl
	makedepends = ninja
	makedepends = python
	makedepends = range-v3
	makedepends = tl-expected
	depends = abseil-cpp
	depends = ada
	depends = ffmpeg
	depends = glib2
	depends = hicolor-icon-theme
	depends = hunspell
	depends = kcoreaddons
	depends = libavif
	depends = libdispatch
	depends = libheif
	depends = libjxl
	depends = lz4
	depends = minizip
	depends = openal
	depends = openh264
	depends = openssl
	depends = pipewire
	depends = protobuf
	depends = qt6-imageformats
	depends = qt6-svg
	depends = qt6-wayland
	depends = rnnoise
	depends = xxhash
	optdepends = xdg-desktop-portal: desktop integration
	source = yukigram::git+https://github.com/yukigram/yukigram.git#tag=yukigram-6.1.3
	source = git+https://github.com/tdlib/td.git#tag=6d74326c5ce53aeb52496f157f0080d9b8515970
	sha512sums = 256fef2e249ca8d6882a70d3ad0d1dfba25c9c47aaa9ddc8b43b0c279e14b5e94ceea039e3c755128de686917af7ce558b76a82174de49f4d63b8a0aa2e18db9
	sha512sums = 6dc6e684a0bf35bb83f6fa6579a0da82d604190b222f2cd2de9b8ef5b93f5f18ac9a8733e2c5cf2a64ed9933b346ea31e26a4bcc0039956280ec2deef9649457

pkgname = yukigram-desktop
