pkgbase = wine-staging-ntsync-pure-git
	pkgdesc = A compatibility layer for running Windows programs
	pkgver = 10.0rc2.r0.g5bfbeb677f4
	pkgrel = 1
	url = https://www.winehq.org
	install = wine.install
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = autoconf
	makedepends = bison
	makedepends = perl
	makedepends = flex
	makedepends = mingw-w64-gcc
	makedepends = git
	makedepends = alsa-lib
	makedepends = gnutls
	makedepends = gst-plugins-base-libs
	makedepends = libpulse
	makedepends = libxcomposite
	makedepends = mesa
	makedepends = opencl-headers
	makedepends = opencl-icd-loader
	makedepends = sdl2
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = desktop-file-utils
	makedepends = fontconfig
	makedepends = freetype2
	makedepends = gcc-libs
	makedepends = gettext
	makedepends = libxcursor
	makedepends = libxkbcommon
	makedepends = libxi
	makedepends = libxrandr
	makedepends = wayland
	makedepends = ffmpeg
	makedepends = unixodbc
	depends = desktop-file-utils
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = gettext
	depends = libxcursor
	depends = libxkbcommon
	depends = libxi
	depends = libxrandr
	depends = wayland
	depends = ffmpeg
	depends = unixodbc
	optdepends = alsa-lib
	optdepends = alsa-plugins
	optdepends = gnutls
	optdepends = gst-plugins-bad
	optdepends = gst-plugins-base
	optdepends = gst-plugins-base-libs
	optdepends = gst-plugins-good
	optdepends = gst-plugins-ugly
	optdepends = libpulse
	optdepends = libxcomposite
	optdepends = opencl-icd-loader
	optdepends = sdl2
	optdepends = wine-gecko
	optdepends = wine-mono
	provides = wine-staging
	provides = wine
	provides = wine-wow64
	conflicts = wine
	options = staticlibs
	options = !lto
	source = git+https://gitlab.winehq.org/wine/wine.git
	source = git+https://gitlab.winehq.org/wine/wine-staging.git
	source = 30-win32-aliases.conf
	source = wine-binfmt.conf
	source = ntsync-v7-10.0-rc1-mainline.patch
	source = wineserver-enable-link-time-optimization.patch
	source = explorer-prefer-wayland-over-x11-by-default.patch
	source = msvcrt_nativebuiltin.patch
	source = 6663.patch
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb
	sha512sums = bdde7ae015d8a98ba55e84b86dc05aca1d4f8de85be7e4bd6187054bfe4ac83b5a20538945b63fb073caab78022141e9545685e4e3698c97ff173cf30859e285
	sha512sums = 6b3c8bbf6c43edd46807c11841926d2e5c1f52fdb02cca5ed399c04e60cb82ef58c9b1ac994aa934c58c5328085004bbf233f06568ab48cb90a91f92ad54af25
	sha512sums = f47afccd51f010a282cab07f343479fba6f14ed8c654c8ff7bbc5c808c0d15be967f35d555f496b5f9bc281aa34f78bb9fd2c93a6e1241682cf3ad201dfe88f3
	sha512sums = d32d06216d05bdcd6b00b26820f3ba141f58e7874bb51ed2958a7b0f4dd05da612ae0e8d792e7134fae92f2a6cc05f77077e1443a221cda242a836747a7e22ea
	sha512sums = 8d4fca16472648e68e9e29e0d406384d8a0e48863c69e511e548b664353a930af83e3ddedf34aab6931b29ca47ee8340980c2c9c84196b0fce0b2f64e0b1cfd9
	sha512sums = b6b369fd1307d3adf805d5c9abd0bca787d7d59dc4c433371049cacf8f08c58e740c0345a174d8a211c45c8301498c986d5a637abd713a752d6de3b49be81b9a

pkgname = wine-staging-ntsync-pure-git
