pkgbase = niri-pure
	pkgdesc = A scrollable-tiling Wayland compositor (patched version)
	pkgver = 25.08
	pkgrel = 1
	url = https://github.com/YaLTeR/niri
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = clang
	makedepends = git
	makedepends = rust
	depends = cairo
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libdisplay-info
	depends = libinput
	depends = libpipewire
	depends = libxkbcommon
	depends = mesa
	depends = pango
	depends = pixman
	depends = seatd
	depends = systemd-libs
	depends = xdg-desktop-portal-impl
	optdepends = alacritty: a suggested GPU-accelerated terminal emulator
	optdepends = bash: for niri-session script
	optdepends = fuzzel: a suggested Wayland application launcher
	optdepends = mako: a suggested Wayland notification daemon
	optdepends = org.freedesktop.secrets: for apps to rely on secrets portal
	optdepends = swaybg: a suggested Wayland wallpaper tool
	optdepends = swaylock: a suggested Wayland screen locker
	optdepends = waybar: a suggested Wayland customizable desktop bar
	optdepends = xwayland-satellite: for running X11 apps in XWayland
	optdepends = xdg-desktop-portal-gtk: a suggested XDG desktop portal
	optdepends = xdg-desktop-portal-gnome: a XDG desktop portal required for screencasting
	provides = niri
	provides = wayland-compositor
	conflicts = niri
	source = niri-pure-25.08.tar.gz::https://github.com/YaLTeR/niri/archive/refs/tags/v25.08.tar.gz
	source = wayland-rs::git+https://github.com/KosmX/wayland-rs#commit=e5655d3731daacad6489ebaf79f03644dcaaf5bd
	source = update_to_libdisplay-info_3.patch
	source = Fix-buffer-overflow.patch
	sha512sums = d8a10bb726d2e79f695544130cc9f55b1ac0f76dd9a9fb1cafb16cd7934b29a4fecf88656a3bc46ab6140aef7d2c58ed87f3ba43dfe8882df50de997283f2292
	sha512sums = f0b554f0de3d083642d3b90c70a16dfab3df16f0addf8fbf077f1de9e4301a4794ef4c533f4042513abe3e3ebedfc2a727f1859fc743697f6965ec87612cdbbe
	sha512sums = 99aa04588b4d12bbbe3b0d529498c39b26c4b7122c6cb02b355e28e8502c74fd93fa7ef3adc93a8f69a2e0d2e3fb6651d0cce6f3a3e2e8db6117711ee62485f9
	sha512sums = dabbcb602e1db4a885b779acf54889608e9b391a0c6fd8ef46d043beb827249f42698a6eb432d1d90b9c66ade7fcc87f445fbbc972616bf981f77f84cdcc2bf2
	b2sums = 39758d4ba4ff721d71a116cba0b8cdcd9e1f0a024257885879b5dc31bf439e91109133cc1650f3bd2376a6f8437fb07b4ee137b0b4d8ace98a1397c6b64d74ea
	b2sums = 9da41b9df2d28b398812c71453076b9f82101af853b719fb08d71662bfa187b49b1dd264a18bedd5d6a5b33bd5446e650a26daa6f4dfa2803be70d25fd9d33df
	b2sums = 3df7266232b0da713c38546a256ffc6dae6801e8d652af642a9c6ab8dc9649bf0710e75a06ff98ad3449da95fdb9d2d665cf2e82a5783c03b2c26bb10d56c514
	b2sums = e17427167ea0a950d7b87808e2e7b27178ef9197d6da6ae403e7fcf6ff99338b12c376102712b966998e580f5fc9ecda8ae48cf29325e886b46ba1b0f2fa1dfb

pkgname = niri-pure
