pkgbase = vulkan-nouveau-pure
	pkgdesc = Nouveau Vulkan (NVK) Mesa driver with some additions
	pkgver = 25.2.2
	pkgrel = 1
	url = https://gitlab.freedesktop.org/mesa/mesa
	arch = x86_64
	license = MIT AND BSD-3-Clause AND SGI-B-2.0
	makedepends = cbindgen
	makedepends = clang
	makedepends = elfutils
	makedepends = git
	makedepends = glslang
	makedepends = libclc
	makedepends = libunwind
	makedepends = libxrandr
	makedepends = llvm
	makedepends = meson>=1.3.0rc2
	makedepends = python-mako
	makedepends = python-packaging
	makedepends = python-yaml
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = spirv-llvm-translator
	makedepends = systemd
	makedepends = valgrind
	makedepends = wayland-protocols
	makedepends = xorgproto
	depends = libdisplay-info
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxshmfence
	depends = spirv-tools
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = zlib
	depends = zstd
	optdepends = vulkan-mesa-layers: Additional Vulkan layers
	optdepends = linux-pure: Minimum required kernel for new uAPI support
	provides = vulkan-driver
	conflicts = vulkan-nouveau
	source = https://mesa.freedesktop.org/archive/mesa-25.2.2.tar.xz
	source = 36450.patch
	sha512sums = 69cd7ed33d0856e227a0219a9d09e5eb2fad28162276b5971bff4f7102cf58b0d914131ad6543562cba230ce6fb9b2076d3b156b1b8c375e74722a143aee5379
	sha512sums = 3d46735b5c334151a5f740da752883508a4f1f5683fe82406ea94eb179dddeeaca49c5f0bafc8931dedb49d4896a2f74c6072128f14a90048ed229bfa1752f11

pkgname = vulkan-nouveau-pure
