pkgbase = vulkan-nouveau-pure
	pkgdesc = Nouveau Vulkan (NVK) Mesa driver with some additions
	pkgver = 25.2.0
	pkgrel = 1
	url = https://gitlab.freedesktop.org/mesa/mesa
	arch = x86_64
	license = MIT AND BSD-3-Clause AND SGI-B-2.0
	makedepends = cbindgen
	makedepends = clang
	makedepends = elfutils
	makedepends = git
	makedepends = glslang
	makedepends = libclc
	makedepends = libunwind
	makedepends = libxrandr
	makedepends = llvm
	makedepends = meson>=1.3.0rc2
	makedepends = python-mako
	makedepends = python-packaging
	makedepends = python-yaml
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = spirv-llvm-translator
	makedepends = systemd
	makedepends = valgrind
	makedepends = wayland-protocols
	makedepends = xorgproto
	depends = libdisplay-info
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxshmfence
	depends = spirv-tools
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = zlib
	depends = zstd
	optdepends = vulkan-mesa-layers: Additional Vulkan layers
	optdepends = linux-pure: Minimum required kernel for new uAPI support
	provides = vulkan-driver
	conflicts = vulkan-nouveau
	source = https://mesa.freedesktop.org/archive/mesa-25.2.0.tar.xz
	source = 36450.patch
	sha512sums = f36e4f9f619becfc89f9cf3704d21f5f1532f1e658808fd30c0edce8c28cd65dc6578a21333e896aa5eaccf09da99efd9127a8d3d46681e8360f618cf63bab94
	sha512sums = 50aefe2f81ab7429aae14a21cf807f2df920c8c5c0f9b8fc9c25c69a1d7629c70685efe24b7b12d78ae2bf75eed1b9c680e124dec32249bf314427dc601203cb

pkgname = vulkan-nouveau-pure
