pkgbase = mingw-w64-gcc-pure
	pkgdesc = Cross GCC for the MinGW-w64 cross-compiler
	pkgver = 13.1.0
	pkgrel = 1
	url = https://gcc.gnu.org
	arch = x86_64
	arch = aarch64
	groups = mingw-w64-toolchain
	groups = mingw-w64
	license = GPL
	license = LGPL
	license = FDL
	license = custom
	depends = zlib
	depends = libisl
	depends = libmpc
	depends = mingw-w64-crt
	depends = mingw-w64-binutils
	depends = mingw-w64-winpthreads
	depends = mingw-w64-headers
	provides = mingw-w64-gcc
	conflicts = mingw-w64-gcc
	options = !strip
	options = staticlibs
	options = !emptydirs
	options = !buildflags
	source = https://ftp.gnu.org/gnu/gcc/gcc-13.1.0/gcc-13.1.0.tar.xz
	source = 0200-add-m-no-align-vector-insn-option-for-i386.patch
	sha512sums = 6cf06dfc48f57f5e67f7efe3248019329a14d690c728d9f2f7ef5fa0d58f1816f309586ba7ea2eac20d0b60a2d1b701f68392e9067dd46f827ba0efd7192db33
	sha512sums = 6008e7589d8520d9b4627d72134b2a1f8a1f1fd43e858c6bab9091bc9d1b741b809f0b26d5c25d44601eac1a982c9a152ea1be22d1f9bc6a9f212e53c506e72b

pkgname = mingw-w64-gcc-pure
