pkgbase = mingw-w64-gcc-pure
	pkgdesc = Cross GCC for the MinGW-w64 cross-compiler
	pkgver = 14.2.0
	pkgrel = 1
	url = https://gcc.gnu.org
	arch = x86_64
	groups = mingw-w64-toolchain
	groups = mingw-w64
	license = GPL-3.0-with-GCC-exception
	license = GFDL-1.3-or-later
	depends = bash
	depends = gcc-libs
	depends = glibc
	depends = gmp
	depends = libisl
	depends = libmpc
	depends = mingw-w64-binutils
	depends = mingw-w64-crt
	depends = mingw-w64-headers
	depends = mingw-w64-winpthreads
	depends = mpfr
	depends = python
	depends = zlib
	depends = zstd
	provides = mingw-w64-gcc
	conflicts = mingw-w64-gcc
	options = staticlibs
	options = !emptydirs
	options = !buildflags
	source = https://ftp.gnu.org/gnu/gcc/gcc-14.2.0/gcc-14.2.0.tar.xz
	source = 0200-add-m-no-align-vector-insn-option-for-i386.patch
	sha512sums = 932bdef0cda94bacedf452ab17f103c0cb511ff2cec55e9112fc0328cbf1d803b42595728ea7b200e0a057c03e85626f937012e49a7515bc5dd256b2bf4bc396
	sha512sums = 6008e7589d8520d9b4627d72134b2a1f8a1f1fd43e858c6bab9091bc9d1b741b809f0b26d5c25d44601eac1a982c9a152ea1be22d1f9bc6a9f212e53c506e72b

pkgname = mingw-w64-gcc-pure
