pkgbase = gimp-pure
	pkgdesc = GNU Image Manipulation Program (Development version)
	pkgver = 3.0.0
	pkgrel = 1
	url = https://www.gimp.org/
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = aalib
	makedepends = appstream
	makedepends = cfitsio
	makedepends = curl
	makedepends = ghostscript
	makedepends = gi-docgen
	makedepends = glib2-devel
	makedepends = glib-networking
	makedepends = gobject-introspection
	makedepends = highway
	makedepends = intltool
	makedepends = iso-codes
	makedepends = libheif
	makedepends = libjxl
	makedepends = libxslt
	makedepends = libmng
	makedepends = libwebp
	makedepends = libxpm
	makedepends = luajit
	makedepends = meson
	makedepends = zlib
	depends = appstream-glib
	depends = babl>=0.1.110
	depends = cairo
	depends = desktop-file-utils
	depends = enchant
	depends = gegl>=0.4.54
	depends = graphviz
	depends = gtk3
	depends = icu
	depends = lcms2
	depends = libexif
	depends = libgexiv2
	depends = libgudev
	depends = librsvg
	depends = libxmu
	depends = mypaint-brushes1
	depends = openexr
	depends = openjpeg2
	depends = poppler-data
	depends = poppler-glib
	depends = python-gobject
	optdepends = aalib: ASCII art support
	optdepends = cfitsio: FITS support
	optdepends = curl: for URI support
	optdepends = ghostscript: for postscript support
	optdepends = iso-codes: Language support
	optdepends = libheif: HEIF support
	optdepends = libilbm: ILBM support
	optdepends = libjxl: JPEG XL support
	optdepends = libmng: MNG support
	optdepends = libwebp: WebP support
	optdepends = libxpm: XPM support
	optdepends = lua51-lgi: LUA scripting support
	optdepends = luajit: LUA scripting support
	optdepends = qoi-headers: QOI image support
	optdepends = zlib: Compression routines
	provides = gimp=3.0.0
	conflicts = gimp
	source = https://download.gimp.org/gimp/v3.0/gimp-3.0.0.tar.xz
	source = linux.gpl
	sha256sums = 93f1ca3d9d1bd8cac0e52c49fb886cbbe4b28222ee835bf1319e3287901d2d20
	sha256sums = 1003bbf5fc292d0d63be44562f46506f7b2ca5729770da9d38d3bb2e8a2f36b3

pkgname = gimp-pure
