pkgbase = fio-pure
	pkgdesc = Scriptable I/O tool for storage benchmarks and drive testing
	pkgver = 3.39
	pkgrel = 1
	url = https://github.com/axboe/fio
	arch = x86_64
	license = GPL2
	depends = bash
	depends = libaio
	provides = fio
	conflicts = fio
	source = https://github.com/axboe/fio/archive/fio-3.39.zip
	sha256sums = dca47043f39f02a7640e8eb7a40abc4269b5c05e8189d3e6113c2f94505ff0fd

pkgname = fio-pure
