pkgbase = firefox-pure
	pkgdesc = Fast, Private & Safe Web Browser
	pkgver = 137.0.1
	pkgrel = 1
	url = https://www.mozilla.org/firefox/
	arch = x86_64
	license = MPL-2.0
	makedepends = cbindgen
	makedepends = clang
	makedepends = diffutils
	makedepends = imake
	makedepends = lld
	makedepends = llvm
	makedepends = mesa
	makedepends = nasm
	makedepends = nodejs
	makedepends = python
	makedepends = rust
	makedepends = unzip
	makedepends = wasi-compiler-rt
	makedepends = wasi-libc
	makedepends = wasi-libc++
	makedepends = wasi-libc++abi
	makedepends = yasm
	makedepends = zip
	depends = firefox-settings
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = ffmpeg
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = icu
	depends = libwebp
	depends = libjpeg-turbo
	depends = libvpx
	depends = libevent
	depends = libpulse
	depends = libxss
	depends = mime-types
	depends = nspr
	depends = nss
	depends = pango
	depends = ttf-font
	depends = zlib
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	provides = firefox=137.0.1
	conflicts = firefox
	replaces = firefox
	options = !emptydirs
	options = !lto
	options = !makeflags
	source = https://archive.mozilla.org/pub/firefox/releases/137.0.1/source/firefox-137.0.1.source.tar.xz
	source = firefox-symbolic.svg
	source = firefox.desktop
	source = org.mozilla.firefox.metainfo.xml
	source = 0001-Install-under-remoting-name.patch
	source = https://dev.gentoo.org/~juippis/mozilla/patchsets/firefox-137-patches-01.tar.xz
	source = policies.json
	sha256sums = 081da8602e19c97b1de4c89a24ddade9d14d38a31eac75dcdb854f0cdd2e0be4
	sha256sums = a9b8b4a0a1f4a7b4af77d5fc70c2686d624038909263c795ecc81e0aec7711e9
	sha256sums = 71fe797430198ac8c00b538dce537284cf526e48be0496698cf5a980d70c16da
	sha256sums = 23f557fa7989adcae03cc9458d94716981dbcf0e9d6d52a289a2426e50b4b785
	sha256sums = 883ca2fa723a7572269d18559d5b82412782ad63e5dd3820eeb0540e3fe34314
	sha256sums = 9a931e88df45fd25d7d3aebdcd111a0bc109c508d542fdbe36c6e41dcf90854f
	sha256sums = 87ccb4f39aa4db735d8e4b967000d24efed42047f5d2f90619da780e5b1fab10

pkgname = firefox-pure
