pkgbase = firefox-settings
	pkgdesc = My settings for Firefox browser
	pkgver = 20250929
	pkgrel = 1
	url = https://github.com/ventureoo/PKGBUILDs
	arch = any
	depends = firefox
	depends = xdg-desktop-portal
	backup = etc/firefox/policies/policies.json
	source = pure.js
	source = policies.json
	sha256sums = c803fcad95b3b89839218e673218f7d1be24ae85b585d7c4517babf6034254c9
	sha256sums = 2f2ea4c5926f0a9235b9560381b4b308990be880feca13d29d9402c7177fa5b4

pkgname = firefox-settings
