pkgbase = gamerun
	pkgdesc = Helper script to run games in Wine with sandbox isolation
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/ventureoo/PKGBUILDs
	arch = any
	license = GPL-3.0
	depends = wine
	depends = firejail
	optdepends = dxvk-pure-git: Recommended DXVK version
	optdepends = vkd3d-proton-mingw-git: Recommended VKD3D-Proton version
	optdepends = wine-pure-git: Recommended Wine version
	optdepends = mangohud-pure-git: Recommended MangoHud version
	source = gamerun
	sha256sums = 0546e6c83c28d00df88ccc5df9f55cb6e231a86bf38d9fe2a1c8829c34f9bc9f

pkgname = gamerun
