pkgbase = mutter-pure
	pkgdesc = Window manager and compositor for GNOME
	pkgver = 50.1
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/mutter
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = bash-completion
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-docutils
	makedepends = sysprof
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = cairo
	depends = colord
	depends = dconf
	depends = egl-wayland
	depends = fontconfig
	depends = fribidi
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = glycin
	depends = gnome-desktop-4
	depends = gnome-settings-daemon
	depends = graphene
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = harfbuzz
	depends = iio-sensor-proxy
	depends = lcms2
	depends = libcanberra
	depends = libcolord
	depends = libdisplay-info
	depends = libdrm
	depends = libei
	depends = libgcc
	depends = libgirepository
	depends = libglvnd
	depends = libgudev
	depends = libinput
	depends = libpipewire
	depends = libsysprof-capture
	depends = libwacom
	depends = libx11
	depends = libxau
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxkbfile
	depends = libxrandr
	depends = mesa
	depends = pango
	depends = pipewire
	depends = pixman
	depends = python
	depends = python-argcomplete
	depends = python-dbus
	depends = python-gobject
	depends = startup-notification
	depends = systemd-libs
	depends = wayland
	depends = xorg-xwayland
	optdepends = bash-completion: Bash completions for gdctl
	provides = libmutter-18.so
	provides = mutter
	conflicts = mutter
	source = git+https://gitlab.gnome.org/GNOME/mutter.git#tag=50.1
	source = git+https://gitlab.gnome.org/GNOME/gvdb.git#commit=466fc22016cf0981424e7121557611942191992f
	source = Add-support-for-tearing.patch
	b2sums = 224bcda4fcd4aaf58abd1e52c95c36d93cf3d1621f87b3c9ca4b7130849cea1fd535dbb11142ad4676b18965d273a356d1112c9a1bd39ad39c2d6d7d4f5c8802
	b2sums = c25796ff54fee353c5fc7a0815c25255b399490148d2bad1f37932d2da66d80561d6e262a5f256c89d142419a504c23eff69f7ef4e65e349f2dea3e0ac0bac1a
	b2sums = afcf2a3d8a1f6989ab53dfc4f3e632ae039258a22455dedf16b7c8387db184a48a2d6f7be28880ed3d792dab72ba99c9b1693aad0e92a518e8c98d1f37c8f325

pkgname = mutter-pure
