pkgbase = gtk3-pure
	pkgdesc = GObject-based multi-platform GUI toolkit
	pkgver = 3.24.48
	pkgrel = 2
	epoch = 1
	url = https://www.gtk.org/
	install = gtk3.install
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = cairo
	makedepends = cantarell-fonts
	makedepends = desktop-file-utils
	makedepends = fribidi
	makedepends = gdk-pixbuf2
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk-update-icon-cache
	makedepends = hicolor-icon-theme
	makedepends = libcups
	makedepends = libegl
	makedepends = libepoxy
	makedepends = libgl
	makedepends = librsvg
	makedepends = libxkbcommon
	makedepends = meson
	makedepends = pango
	makedepends = quilt
	makedepends = sassc
	makedepends = shared-mime-info
	makedepends = wayland
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = cairo
	depends = desktop-file-utils
	depends = fribidi
	depends = gdk-pixbuf2
	depends = gtk-update-icon-cache
	depends = libepoxy
	depends = librsvg
	depends = libxkbcommon
	depends = pango
	depends = shared-mime-info
	depends = wayland
	provides = gtk3
	provides = gtk3-print-backends
	provides = libgailutil-3.so
	provides = libgdk-3.so
	provides = libgtk-3.so
	conflicts = gtk3
	conflicts = gtk3-print-backends
	replaces = gtk3
	replaces = gtk3-print-backends<=3.22.26-1
	source = https://gitlab.gnome.org/GNOME/gtk/-/archive/3.24.48/gtk-3.24.48.tar.gz
	source = git+https://github.com/lah7/gtk3-classic#tag=3.24.48-2
	source = 0001-Allow-disabling-legacy-Tracker-search.patch
	source = gtk-query-immodules-3.0.hook
	b2sums = 2c765007770b4d8d3fa3f4df54f01f19a3fbaa31654abb78f1a49dbd2ce0c6d7b0b29805ea4aeb8bc2358621e5a091f2177fca0356d11764e3dfae34ba7e159e
	b2sums = SKIP
	b2sums = SKIP
	b2sums = 8e6a3906126749c6d853f582e3802254cdbba099c6af7190ad576eff6ea5425404a72b1b36950a87e3afdac82295cfe246003172c3e0341a73bd931a36f3b407

pkgname = gtk3-pure
