pkgbase = linux-pure
	pkgdesc = My personal kernel build as a testing ground
	pkgver = 6.12.5.pure
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !strip
	options = !debug
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.5.tar.xz
	source = config
	source = modules.db
	source = 0001-ntsync.patch
	source = 0002-bore.patch
	source = 0003-Restore-CONFIG_OPTIMIZE_FOR_PERFORMANCE_O3.patch
	source = 0004-cpu-select.patch
	source = 0005-Add-sysctl-and-CONFIG-to-disallow-unprivileged-CLONE_NEWUSER.patch
	source = 0006-Default-to-maximum-amount-of-ASLR-bits.patch
	source = 0007-skip-simpledrm-if-nvidia-drm.modeset=1-is-set.patch
	sha256sums = 39207fce1ce42838e085261bae0af5ce4a0843aa777cfc0f5c49bc7729602bcd
	sha256sums = a6a234cd982d21f0d7daa3ba921293e450abd87ff5d7474d4a153b3f34cfabc5
	sha256sums = d148fc94586e0924e98b4976bd86a2e8b7d885ba862156ad9738a448f50c78b0
	sha256sums = cd013d8f1f0326e6ba85c7b395257e18aedeac6343868fd5534465761b5a6545
	sha256sums = 6260988b79b02518d235e4a1a2b56176d8cb6e891ff77387d69c384270613770
	sha256sums = 2ac85c63b1c7279e3a3af130e7e4f2aea164df179b76f1d8270c00f064efb1c6
	sha256sums = 48e12a587e3a93e73ca2bba9f3b418d70c0a56592581d2705384a07243c70d61
	sha256sums = 0460b771badb209dd4a2db6310083031707d41c5ce682dabed63b5077e2768f9
	sha256sums = 97509ff14bc98e8c8a93ae7412717bd0637b64b7fe4c3fa782e857a9a75c692f
	sha256sums = 601705db7a8ce1f3a9183d4273ee9c5cef88685a6a63e47b3127dbfafd7e0e97

pkgname = linux-pure
	pkgdesc = The My personal kernel build as a testing ground kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-pure-headers
	pkgdesc = Headers and scripts for building modules for the My personal kernel build as a testing ground kernel
	depends = pahole
