pkgbase = linux-pure
	pkgdesc = My personal kernel build as a testing ground
	pkgver = 6.12.10.pure1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !strip
	options = !debug
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.10.tar.xz
	source = https://github.com/archlinux/linux/releases/download/v6.12.10-arch1/linux-v6.12.10-arch1.patch.zst
	source = config
	source = modules.db
	source = 0001-ntsync.patch
	source = 0002-bore.patch
	sha256sums = 4a516e5ed748537a73cb42ec47fbbeb6df8b1298e8892c29c0e91de79095b297
	sha256sums = 4b8c223bba9b89337b7085b24810b9b6027d95d931b2daedd43e2c5a50477f60
	sha256sums = a6a234cd982d21f0d7daa3ba921293e450abd87ff5d7474d4a153b3f34cfabc5
	sha256sums = d148fc94586e0924e98b4976bd86a2e8b7d885ba862156ad9738a448f50c78b0
	sha256sums = cd013d8f1f0326e6ba85c7b395257e18aedeac6343868fd5534465761b5a6545
	sha256sums = a41817aebcc85b378809c223bb11a705cb03251e6e9f9b5027f8506787a417d2

pkgname = linux-pure
	pkgdesc = The My personal kernel build as a testing ground kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-pure-headers
	pkgdesc = Headers and scripts for building modules for the My personal kernel build as a testing ground kernel
	depends = pahole
