pkgbase = linux-pure
	pkgdesc = My personal kernel build as a testing ground
	pkgver = 6.12.4.pure
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !strip
	options = !debug
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.4.tar.xz
	source = https://github.com/archlinux/linux/releases/download/v6.12.4-arch1/linux-v6.12.4-arch1.patch.zst
	source = config
	source = modules.db
	source = 0001-ntsync.patch
	source = 0002-bore.patch::https://raw.githubusercontent.com/firelzrd/bore-scheduler/refs/heads/main/patches/stable/linux-6.12-bore/0001-linux6.12.y-bore5.7.13.patch
	source = 0003-Restore-CONFIG_OPTIMIZE_FOR_PERFORMANCE_O3
	sha256sums = 6f35f821433d8421be7167990747c7c4a0c451958fb96883446301af13d71152
	sha256sums = 8d84f0e5f013c6c80cd2a2fe26da8e0c1170edc058f6f378e1261541781c12b9
	sha256sums = a6a234cd982d21f0d7daa3ba921293e450abd87ff5d7474d4a153b3f34cfabc5
	sha256sums = d148fc94586e0924e98b4976bd86a2e8b7d885ba862156ad9738a448f50c78b0
	sha256sums = cd013d8f1f0326e6ba85c7b395257e18aedeac6343868fd5534465761b5a6545
	sha256sums = 6260988b79b02518d235e4a1a2b56176d8cb6e891ff77387d69c384270613770
	sha256sums = 2ac85c63b1c7279e3a3af130e7e4f2aea164df179b76f1d8270c00f064efb1c6

pkgname = linux-pure
	pkgdesc = The My personal kernel build as a testing ground kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-pure-headers
	pkgdesc = Headers and scripts for building modules for the My personal kernel build as a testing ground kernel
	depends = pahole
